body {
    background-color: rgb(211, 211 ,211);
}

div {
    background-color:white;
    margin: 0px 100px;
    padding: 10px;
}

.principal img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: auto;
    /* dimenciona a imagem, não recomendado. */
    margin: 10px;
    /* cria uma margem externa. */
}

.principal figcaption {
    margin: 10px;
    padding-bottom: 10px;
    /* cria uma margem interna. */
}

.principal {
    background-color:darkgrey;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
    float: left;
    /* como a imagem flutuando a esquerda, deixando o texto a diretita. */
}

.principal:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.85);
    transition: 1s;
}

.principal figcaption h1 {
    font-size: 12px;
}

.principal figcaption p {
    font-style: italic;
    font-size: 12px;
}

ol li ul li{
    display: inline;
    margin: 5px;
    background-color: rgba(65, 105, 225, 0.8);
    padding: 5px;
}
ol li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

ol li a:hover {
    text-decoration: underline;
    color: white;
}

.links li a:hover{
    text-decoration: underline;
    color: blue;
}

iframe {
    margin:10px auto 10px auto;
    display:block;
}

#paginas li{
    display: inline-block;
    position: relative;
}

#paginas li a figure {
    max-width: 200px;
    margin: 10px;
}

#paginas li figure img {
    width: 200px;
    height: 130px;
}

#paginas li figure figcaption h1{
    top: -5px;
    left: 10px;
    position: absolute;
    opacity: 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 130px;
}

#paginas li a figure figcaption h1:hover {
    opacity: 1;
    transition: 1s;
}

#rodape{
    width: 100%;
    height: auto;
    background-color: rgb(43, 40, 66);
    margin: 0px -10px;
    position: relative;
    bottom: -20px;
}

#rodape h1 {
    font-size: 16px;
}

#rodape p {
    font-weight: bold;
}

#rodape p em {
    text-decoration: none;
    color: white;
}

#menu {
    position: absolute;
    right: 200px;
    top: -15px;
}

#menu li {
    display: inline;
    margin: 3px;
    background-color: royalblue;
    padding: 5px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    text-decoration: underline;
    color: white;
    transition: 500ms;
}

header h1 a {
    color: rgb(0, 0, 255);
    text-shadow: 5px 2px black;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

header {
    background-color: rgb(59, 7, 182);
    width: 102%;
    height: 50px;
    margin: 0px -10px;
    top: -22px;
    position: relative;
}
