.content {
    margin: 0 auto;
    max-width: 80%;
}
.footer {
    background-color: #212529;
    color:rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 10px;
}

.text-center {
    text-align: center;
}

/* remove estilos padrões de componentes */
.link-none {
    text-decoration: none;
    color: rgb(0, 0, 0)
}
.link-none:hover {
    text-decoration: none;
    color: rgb(0, 0, 0)
}
.list-none {
    list-style: none;
}
.footer-link {
    color: rgb(255, 255, 255);
}

.posts > div.card {
    margin: 10px;
}

.img-top {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}
.img {
    width: 100%;
    height: auto
}

.code {
    background-color: rgb(0, 0, 0);
    color: rgb(255,255, 255);
    padding: 10px;
    border-radius:20px;
    margin: 10px;
    display:inline-block;
}
.code > pre {
    color: rgb(255, 255, 255)
}

.info {
    color: #212529;
    font-size: 12px;
    font-weight: 900;
}
.info > a {
    color: #212529;
}

.ads728x90 {
    width: 730px; /* 728 + 2 das bordas */
    height: 122px; /* 90 + 2 das bordas + 30 do titulo */
    border: 1px solid black;
    margin: 0 auto;
}

.ads160x300 {
    width: 162px; /* 160 + 2 das bordas */
    height: 332px; /* 300 + 2 das bordas + 30 do titulo */
    border: 1px solid black;
    float: right;
    margin: 10px;
}

.ads-head {
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
.ads-head > * {
    margin: 0;
}